.button_1643033309088 {
  display: inline-block;
  text-decoration: none;
  background-color: #2ecc71;
  color: #292929;
  border: 3px solid #2ecc71;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 50px;
  transition: all 0.2s ease;
}
.button_1643033309088:hover {
  text-decoration: none;
  background-color: #27ae60;
  color: #292929;
  border-color: #27ae60;

  transform: rotate(360deg) scale(3);
}
