.figure-under-desktop {
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  z-index: -1;

  &--mobile-left {
    top: 8px;
    left: 0;
    border-radius: 0px 35px 35px 0px;
  }

  &--mobile-right {
    top: 8px;
    right: 0;
    border-radius: 35px 0px 0px 35px;
  }

  &--mobile-menu {
    top: 302px;
    left: -29px;
    border-radius: 0px 0px 35px 0px;
  }
}
