.header {
  // position: relative;
  // padding-top: 29px;
  // padding-bottom: 32px;
}
.nav__list {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 29px;
  padding-bottom: 32px;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: fill 250ms var(--cubic);
  color: #487996;

  &__icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
    // fill: #000000;
  }
  &:hover,
  &:focus {
    // fill: var(--accent-color);
  }
}

.call-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: fill 250ms var(--cubic);
  color: #008cef;

  &__icon {
    width: 24px;
    height: 42px;
    fill: currentColor;
    // fill: #000000;
  }
  &:hover,
  &:focus {
    // fill: var(--accent-color);
  }
}
.language {
  font-family: Caviar Dreams;
  @include font(700, 14px, 18px);
  letter-spacing: 0.01em;
  color: #bdbdbd;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms var(--cubic), visibility 500ms var(--cubic);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  //   fill: var(--primary-text-color);
  //   border-radius: 50%;
  transition: fill 250ms var(--cubic);
  color: #487996;

  &__icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.mobile-menu__container {
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__list {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu__item {
  margin-bottom: 24px;
}

.mobile-menu__link {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #487996;
}

.mobile-menu__sub-item {
  margin-top: 24px;
  text-align: center;
}

.mobile-menu__sub-wraper {
  display: inline;
  position: relative;
}

.mobile-menu__sub-icon {
  position: absolute;
  top: 40%;
  left: -15px;
  //   transform: translate(-40%);
  width: 7px;
  height: 7px;
  fill: currentColor;
}

// .mobile-menu__sub-item::before {
//   content: '';
//   display: inline-block;
//   position: absolute;
//   width: 7px;
//   height: 7px;
//   margin-right: 13px;
//   top: 10px;
//   border-radius: 3px 0px;
//   background-color: #487996;
// }

.mobile-menu__item--service {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #487996;
}

.mobile-menu__sub-link {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #487996;
}

.comment-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}

.comment {
  visibility: hidden;
  top: 45px;
  left: -65px;
  width: 162px;
  height: 83px;
  background-color: rgba(229, 229, 229, 0.8);
  position: absolute;
  border-radius: 2px;
}

.comment-wrapper:hover .comment,
.comment-wrapper:focus .comment {
  visibility: visible;
}

.comment::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(229, 229, 229, 0.8);
  border-left: 15px solid transparent;
}

.float-phone__list {
  padding: 16px 12px;
}
.float-phone__item:not(:last-child) {
  margin-bottom: 10px;
}

.float-phone__link {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #2b2b2b;
}

.phones-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 768px;
    //    width: 100vw;
    // height: 100vh;
  }
  // .navigation {
  //   margin-right: 165px;
  // }
  .burger-btn {
    // margin-left: 165px;
  }

  .logo-img {
    width: 135px;
    height: 31px;
  }
  .logo {
    margin-right: 130px;
  }
  .logo-menu {
    margin-right: 165px;
  }
  .call-btn {
    display: none;
  }

  .phones-list {
    display: block;
  }

  .phones-list__link {
    font-family: Cera Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;

    color: #2b2b2b;

    &:hover,
    &:focus {
      color: #008cef;
    }
  }

  .phones-list__icon {
    width: 14px;
    height: 14px;
    fill: currentColor;
  }
  .logo {
    // margin-right: 174px;
    // width: 192px;
    // height: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .burger-btn {
    display: none;
  }
  .header-container {
    padding-bottom: 70px;
  }

  .logo-img {
    width: 192px;
    height: 48px;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__list {
    display: flex;
  }

  .nav__link {
    font-family: Caviar Dreams;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
    letter-spacing: 0.01em;
    color: #2b2b2b;

    &:hover,
    &:focus {
      color: #008cef;
    }
  }
  .nav__item:not(:last-child) {
    margin-right: 54px;
  }
  .logo {
    margin-right: 213px;
    // width: 192px;
    // height: 48px;
  }
  .nav__item {
    position: relative;
  }
  .nav__sub-list {
    display: none;
    flex-direction: column;
    position: absolute;
    left: -30px;
    // margin-top: 8px;
    padding-top: 8px;
  }
  .nav__sub-item {
    background-color: #ffffff;
    text-align: center;
  }
  .nav__sub-link {
    white-space: nowrap;
    font-family: Caviar Dreams;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #2b2b2b;

    &:hover,
    &:focus {
      color: #008cef;
    }
  }

  .nav__sub-link:not(:last-child) {
    margin-bottom: 6px;
  }

  .nav__item:hover .nav__sub-list,
  .nav__item:focus .nav__sub-list {
    display: flex;
  }
}
