.header {
  position: relative;
  padding-top: 29px;
  padding-bottom: 32px;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: fill 250ms var(--cubic);
  color: #487996;

  &__icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
    // fill: #000000;
  }
  &:hover,
  &:focus {
    // fill: var(--accent-color);
  }
}

.call-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: fill 250ms var(--cubic);
  color: #008cef;

  &__icon {
    width: 24px;
    height: 42px;
    fill: currentColor;
    // fill: #000000;
  }
  &:hover,
  &:focus {
    // fill: var(--accent-color);
  }
}
.language {
  font-family: Caviar Dreams;
  @include font(700, 14px, 18px);
  letter-spacing: 0.01em;
  color: #bdbdbd;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms var(--cubic), visibility 500ms var(--cubic);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  //   fill: var(--primary-text-color);
  //   border-radius: 50%;
  transition: fill 250ms var(--cubic);
  color: #487996;

  &__icon {
    width: 32px;
    height: 32px;
    fill: currentColor;
  }
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.mobile-menu__container {
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__list {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu__item {
  margin-bottom: 24px;
}

.mobile-menu__link {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #487996;
}

.mobile-menu__sub-item {
  margin-top: 24px;
  text-align: center;
}

.mobile-menu__sub-wraper {
  display: inline;
  position: relative;
}

.mobile-menu__sub-icon {
  position: absolute;
  top: 40%;
  left: -15px;
  //   transform: translate(-40%);
  width: 7px;
  height: 7px;
  fill: currentColor;
}

// .mobile-menu__sub-item::before {
//   content: '';
//   display: inline-block;
//   position: absolute;
//   width: 7px;
//   height: 7px;
//   margin-right: 13px;
//   top: 10px;
//   border-radius: 3px 0px;
//   background-color: #487996;
// }

.mobile-menu__item--service {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: Cera Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #487996;
}

.mobile-menu__sub-link {
  font-family: Cera Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #487996;
}
